# PyCharm
.idea/

# CPython
__pycache__

# pyenv
.python-version

# SQLite
db.sqlite3

# Django
backend/media/
backend/static/

# docker-compose
backend/.env-prod
postgres/.env-prod
nginx/static/
nginx/frontend/
